body{
    margin: 10px 100px;
}

.header {
    align-items: center;
}

.logo img{
    height: 120px;
    width: 90px;
}

.name {
    text-transform: uppercase;
    text-align: end;
}

.job-title {
    text-transform: uppercase;
    text-align: end;
}

hr {
    height: 5px;
}

.code-img img{
    height: 200px;
    width: 1065px;
}

.work-eg-img {
    height: 225px;
    width: 300px;
}

.work-eg-name {
    text-transform: uppercase;
    text-align: center;
}

.work-eg-link {
    text-align: center;
    overflow: hidden;
}

.copyright {
    text-align: center;
}